**/[Bb]in/
**/[Oo]bj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# Test Results
**/TestResults/

# Git
.git/
.gitignore
.gitattributes

# Docker
Dockerfile*
.dockerignore

# User secrets
secrets.json

# Build artifacts
**/publish/
